<style>@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  line-height: 1.6;
  /* Example line-height value */
}

.email-header {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  /* Rounded corners for the header background */
}

.email-header-pex {
  text-align: center;
  padding: 20px;
  background-color: #000000;
  border-radius: 10px;
  /* Rounded corners for the header background */
}

.email-header-programme {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  /* Rounded corners for the header background */
}

.email-header img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.email-header-pex img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.email-header-programme img {
  width: auto;
  height: 60px;
  display: block;
  margin: auto;
}

.email-content {
  padding: 20px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  /* Corrected font-family */
  font-weight: 300;
  color: #333;
}

.email-content h1 {
  font-weight: 800;
  /* Bold weight */
}

.email-button {
  display: block;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  margin: 20px 0;
  border-radius: 5px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 300;
}

.email-button:hover {
  background-color: #404040;
}

.email-footer {
  text-align: center;
  background-color: #000000;
  padding: 20px;
  font-size: 12px;
  color: #777;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 300;
  border-radius: 10px;
  /* Rounded corners for the footer background */
}

.email-footer a {
  color: #007bff;
  text-decoration: none;
}

.email-footer a:hover {
  text-decoration: underline;
}

.email-footer img {
  max-width: 75px;
  /* Adjust size as needed */
  cursor: pointer;
  /* Change cursor to pointer on hover */
}

.email-footer .social-icons {
  margin: 20px 0;
}

.email-footer .social-icons a {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  /* Adjust icon size */
}

.email-footer .social-icons a i {
  margin-right: 5px;
  /* Adjust icon spacing */
}

.email-footer .address {
  margin-top: 10px;
  font-size: 14px;
}

</style>
